body {
  max-width: 100%;
  overflow-x: hidden;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body #root {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.3rem;
}

body #root .navbar {
  width: 100%;
  margin-right: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

body #root .navbar .container-fluid .navbar-brand {
  cursor: auto;
}

body #root .navbar .container-fluid .navbar-brand img {
  margin-left: 3em;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  body #root .navbar .container-fluid .navbar-brand img {
    width: 200px;
    margin-left: 0px;
  }
}

body #root .navbar .container-fluid .navbar-toggler {
  margin-top: 10px;
  border: 0px;
}

body #root .navbar .container-fluid .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body #root .navbar .container-fluid .navbar-collapse {
  border-bottom: 1px solid #E7E0DA;
  padding: 0 1em 0 10em;
}

body #root .navbar .container-fluid .navbar-collapse a {
  cursor: pointer;
  color: #000000;
}

body #root .navbar .container-fluid .navbar-collapse a:hover {
  color: #E7E0DA;
}

@media screen and (max-width: 991px) {
  body #root .navbar .container-fluid .navbar-collapse {
    border-bottom: 0px;
    padding: 0px;
  }
  body #root .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item a {
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 2px;
    background-size: 0% 2px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E7E0DA));
    background-image: linear-gradient(#E7E0DA 0 0);
    -webkit-transition: background-size 0.5s, background-position 0s 0.5s;
    transition: background-size 0.5s, background-position 0s 0.5s;
  }
  body #root .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item a:hover {
    background-size: 100% 2px;
    background-position: 100% 100%;
  }
}

body #root #header {
  z-index: 2;
  margin: 0;
}

body #root #header #header-hero {
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
  z-index: 1;
  opacity: 95%;
  margin: 0;
  background: url(./images/zz_hands_hero.png);
  background-size: cover;
  background-position: center center;
}

body #root #header #social-media {
  margin-top: 10em;
  padding-left: 6em;
  -webkit-animation: loading-social-media 2s;
          animation: loading-social-media 2s;
}

@-webkit-keyframes loading-social-media {
  from {
    left: -150px;
  }
  to {
    left: 0;
  }
}

@keyframes loading-social-media {
  from {
    left: -150px;
  }
  to {
    left: 0;
  }
}

body #root #header #social-media a {
  padding: 0.5em;
  color: #FFFFFF;
  text-decoration: none;
}

body #root #header #social-media a svg {
  -webkit-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
}

body #root #header #social-media a:hover svg {
  width: 40px;
  height: 40px;
}

body #root #header #social-media hr {
  width: 1px;
  height: 80px;
  opacity: 1;
  border: 1px solid #FFFFFF;
}

body #root #header #social-media p {
  margin-top: 0.6em;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 991px) {
  body #root #header #social-media {
    height: 100px;
    margin-top: 8em;
  }
  body #root #header #social-media hr {
    width: 80px;
    height: 1px;
    margin: 0.5rem 1rem 0;
  }
  body #root #header #social-media p {
    margin: 0;
    padding-top: 0.5rem;
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 575px) {
  body #root #header #social-media {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  body #root #header .spacer {
    display: none;
  }
}

body #root #header #text-container {
  position: relative;
  width: 30em;
  opacity: 100%;
  margin-top: 10em;
  padding: 0em;
  font-family: 'Noto Sans', sans-serif;
  color: #FFFFFF;
  -webkit-animation: loading-text-container 2s;
          animation: loading-text-container 2s;
}

@-webkit-keyframes loading-text-container {
  from {
    left: -150px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes loading-text-container {
  from {
    left: -150px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

body #root #header #text-container h1 {
  display: inline-block;
  z-index: 0;
  font-size: 50px;
}

body #root #header #text-container h1:after {
  display: block;
  z-index: -1;
  margin-top: -8px;
  border-top: solid 5px #73573E;
  -webkit-transition: -webkit-transform 700ms ease-in-out;
  transition: -webkit-transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out, -webkit-transform 700ms ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  content: '';
}

body #root #header #text-container h1:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

body #root #header #text-container p {
  font-size: 20px;
}

body #root #header #text-container a {
  border: 0;
  padding: 15px 40px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

body #root #header #text-container a:hover {
  border: 0px;
  -webkit-box-shadow: inset 170px 0px #73573E;
          box-shadow: inset 170px 0px #73573E;
}

@media screen and (max-width: 992px) {
  body #root #header #text-container {
    margin-top: -14em;
    padding-left: 6em;
  }
}

@media screen and (max-width: 575px) {
  body #root #header #text-container {
    margin-top: 8em;
    padding: 0 2em;
  }
  body #root #header #text-container h1 {
    font-size: 40px;
  }
}

body #root #about {
  margin: 8em 0em 0em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #FFFFFF), to(#E7E0DA));
  background: linear-gradient(180deg, #FFFFFF 30%, #E7E0DA 100%);
}

@media screen and (max-width: 1399px) {
  body #root #about {
    margin-top: 6em;
  }
}

@media screen and (max-width: 575px) {
  body #root #about {
    margin-top: 2em;
  }
}

body #root #about #about-gallery {
  position: relative;
  max-height: 780px;
  height: 85vh;
}

@media screen and (max-width: 575px) {
  body #root #about #about-gallery {
    height: auto;
    margin-top: 4em;
    padding-top: 120%;
  }
}

body #root #about #about-gallery .img01 {
  position: absolute;
  top: 0%;
  right: 8%;
  max-width: 520px;
  max-height: 580px;
  aspect-ratio: 520 / 580;
  -webkit-clip-path: polygon(0% 7%, 100% 0%, 100% 100%, 0% 91%);
          clip-path: polygon(0% 7%, 100% 0%, 100% 100%, 0% 91%);
  -webkit-animation: loading-img01 2s;
          animation: loading-img01 2s;
}

@media screen and (max-width: 991px) {
  body #root #about #about-gallery .img01 {
    right: 0%;
  }
}

@-webkit-keyframes loading-img01 {
  from {
    right: -15em;
    opacity: 0;
  }
  to {
    right: 3em;
    opacity: 1;
  }
}

@keyframes loading-img01 {
  from {
    right: -15em;
    opacity: 0;
  }
  to {
    right: 3em;
    opacity: 1;
  }
}

body #root #about #about-gallery .img01 img {
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

body #root #about #about-gallery .img02 {
  position: absolute;
  top: 13%;
  right: 20%;
  max-width: 480px;
  max-height: 530px;
  aspect-ratio: 480 / 530;
  -webkit-clip-path: polygon(0% 0%, 100% 9%, 100% 90%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 9%, 100% 90%, 0% 100%);
  -webkit-animation: loading-img02 2s;
          animation: loading-img02 2s;
}

@media screen and (max-width: 991px) {
  body #root #about #about-gallery .img02 {
    left: 0;
  }
}

@-webkit-keyframes loading-img02 {
  from {
    right: 25em;
    opacity: 0;
  }
  to {
    right: 10em;
    opacity: 1;
  }
}

@keyframes loading-img02 {
  from {
    right: 25em;
    opacity: 0;
  }
  to {
    right: 10em;
    opacity: 1;
  }
}

body #root #about #about-gallery .img02 img {
  width: 100%;
  height: 100%;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
}

body #root #about #about-gallery .img03 {
  position: absolute;
  top: 58%;
  right: 50%;
  max-width: 200px;
  max-height: 220px;
  aspect-ratio: 200 / 220;
  margin-left: 10%;
  -webkit-clip-path: polygon(0% 0%, 100% 14%, 100% 86%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 14%, 100% 86%, 0% 100%);
  -webkit-animation: loading-img03 2s;
          animation: loading-img03 2s;
}

@-webkit-keyframes loading-img03 {
  from {
    top: 35em;
    opacity: 0;
  }
  to {
    top: 22em;
    opacity: 1;
  }
}

@keyframes loading-img03 {
  from {
    top: 35em;
    opacity: 0;
  }
  to {
    top: 22em;
    opacity: 1;
  }
}

body #root #about #about-gallery .img03 img {
  width: 100%;
  height: 100%;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
}

body #root #about #about-gallery .img04 {
  position: absolute;
  top: 63%;
  right: 34%;
  max-width: 200px;
  max-height: 220px;
  aspect-ratio: 200 / 220;
  margin-left: 26%;
  -webkit-clip-path: polygon(0% 0%, 100% 14%, 100% 86%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 14%, 100% 86%, 0% 100%);
  -webkit-animation: loading-img04 2.5s;
          animation: loading-img04 2.5s;
}

body #root #about #about-gallery .img04 img {
  width: 100%;
  height: 100%;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes loading-img04 {
  from {
    top: 37em;
    opacity: 0;
  }
  to {
    top: 24em;
    opacity: 1;
  }
}

@keyframes loading-img04 {
  from {
    top: 37em;
    opacity: 0;
  }
  to {
    top: 24em;
    opacity: 1;
  }
}

body #root #about #about-gallery .img05 {
  position: absolute;
  top: 68%;
  right: 18%;
  max-width: 200px;
  max-height: 220px;
  aspect-ratio: 200 / 220;
  margin-left: 42%;
  -webkit-clip-path: polygon(0% 0%, 100% 14%, 100% 86%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 14%, 100% 86%, 0% 100%);
  -webkit-animation: loading-img05 3s;
          animation: loading-img05 3s;
}

@-webkit-keyframes loading-img05 {
  from {
    opacity: 0;
    top: 39em;
  }
  to {
    top: 26em;
    opacity: 1;
  }
}

@keyframes loading-img05 {
  from {
    opacity: 0;
    top: 39em;
  }
  to {
    top: 26em;
    opacity: 1;
  }
}

body #root #about #about-gallery .img05 img {
  width: 100%;
  height: 100%;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
}

body #root #about #about-text {
  position: relative;
  -webkit-animation: loading-about-text 2s;
          animation: loading-about-text 2s;
}

@media screen and (max-width: 1799px) {
  body #root #about #about-text p {
    font-size: 18px;
  }
}

@media screen and (max-width: 575px) {
  body #root #about #about-text {
    margin-top: 4em;
  }
}

@-webkit-keyframes loading-about-text {
  from {
    left: 20em;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes loading-about-text {
  from {
    left: 20em;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

body #root #about #about-text h1 {
  font-size: 50px;
  font-weight: bold;
}

@media screen and (max-width: 1799px) {
  body #root #about #about-text h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 575px) {
  body #root #about #about-text h1 {
    font-size: 30px;
  }
}

body #root #about #about-text h4 {
  text-transform: uppercase;
  color: #E7E0DA;
}

body #root #about #about-text #textbox {
  border-left: solid 5px #73573E;
  -webkit-box-shadow: 8px 8px 5px #969696;
          box-shadow: 8px 8px 5px #969696;
}

body #root #about #about-text a {
  border: 0px;
  padding: 15px 40px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

body #root #about #about-text a:hover {
  border: 0px;
  -webkit-box-shadow: inset 170px 0px #E7E0DA;
          box-shadow: inset 170px 0px #E7E0DA;
  color: #000000;
}

body #root #services {
  margin: 0em;
  padding-top: 8em;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(45%, #FFFFFF), color-stop(45%, #E7E0DA));
  background: linear-gradient(0deg, #FFFFFF 45%, #E7E0DA 45%);
}

@media screen and (max-width: 991px) {
  body #root #services {
    padding-top: 5em;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(41.5%, #FFFFFF), color-stop(41.5%, #E7E0DA));
    background: linear-gradient(0deg, #FFFFFF 41.5%, #E7E0DA 41.5%);
  }
}

@media screen and (max-width: 575px) {
  body #root #services {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(45.5%, #FFFFFF), color-stop(45.5%, #E7E0DA));
    background: linear-gradient(0deg, #FFFFFF 45.5%, #E7E0DA 45.5%);
  }
}

body #root #services #services-header {
  margin: 0em;
}

body #root #services #services-header h1 {
  font-size: 50px;
  font-weight: bold;
}

@media screen and (max-width: 1399px) {
  body #root #services #services-header h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 575px) {
  body #root #services #services-header h1 {
    font-size: 30px;
  }
}

body #root #services #services-header h4 {
  text-transform: uppercase;
  color: #73573E;
}

@media screen and (max-width: 1399px) {
  body #root #services #services-header h4 {
    font-size: 20px;
  }
}

body #root #services #services-header p {
  color: #73573E;
}

body #root #services #services-header p span {
  font-weight: 700;
}

@media screen and (max-width: 1399px) {
  body #root #services #services-header p {
    font-size: 18px;
  }
}

body #root #services #cards {
  max-width: 1200px;
}

body #root #services #cards #card {
  position: relative;
  height: 19em;
  -webkit-box-shadow: 0px 0px 10px #E7E0DA;
          box-shadow: 0px 0px 10px #E7E0DA;
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
}

body #root #services #cards #card h3 {
  font-weight: bold;
}

body #root #services #cards #card p {
  font-size: 17px;
}

body #root #services #cards #card a {
  position: absolute;
  right: 2em;
  bottom: -1em;
  width: 3em;
  border: solid 1px #E7E0DA;
  -webkit-box-shadow: 0px 0px 10px #E7E0DA;
          box-shadow: 0px 0px 10px #E7E0DA;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

body #root #services #cards #card a:hover {
  background-color: #73573E;
  color: #FFFFFF;
}

@media screen and (max-width: 1499px) {
  body #root #services #cards #card {
    max-height: 335px;
  }
  body #root #services #cards #card h3 {
    font-size: 24px;
  }
  body #root #services #cards #card p {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  body #root #services #cards #card {
    max-height: 340px;
  }
}

body #root #services #cards #card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body #root #why {
  max-height: 480px;
  overflow: hidden;
  margin: 8em 0em 0em;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  body #root #why {
    margin-top: 5em;
  }
}

@media screen and (max-width: 767px) {
  body #root #why {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}

body #root #why #why-text {
  padding: 4em 0em;
}

body #root #why #why-text h4 {
  text-transform: uppercase;
}

body #root #why #why-text h1 {
  font-weight: bold;
}

body #root #why #why-text img {
  padding-right: 5px;
  padding-bottom: 5px;
}

@media screen and (max-width: 991px) {
  body #root #why #why-text p,
  body #root #why #why-text li {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  body #root #why #why-text {
    padding: 4em 0em 2em;
  }
}

body #root #why #why-image {
  overflow: hidden;
}

body #root #why #why-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body #root #process {
  margin: 6em 14em;
  padding-bottom: 4em;
}

@media screen and (max-width: 1599px) {
  body #root #process {
    margin: 5em 8em;
  }
}

@media screen and (max-width: 1399px) {
  body #root #process {
    margin: 5em 3.5em;
  }
}

@media screen and (max-width: 1199px) {
  body #root #process {
    margin: 4em 1em;
    padding-bottom: 2em;
  }
}

body #root #process h4 {
  text-transform: uppercase;
  color: #E7E0DA;
}

body #root #process h1 {
  font-weight: bold;
}

body #root #process #steps-container {
  margin: 0em;
}

body #root #process #steps-container #step-up {
  margin-bottom: 4em;
  padding-left: 60px;
}

body #root #process #steps-container #step-up p {
  margin-left: -1em;
  font-weight: bold;
}

body #root #process #steps-container #step-up #icon-frame {
  width: 172px;
  height: 172px;
  border: 1px solid #E7E0DA;
  transform: skewX(-14deg);
  -ms-transform: skewX(-14deg);
  -webkit-transform: skewX(-14deg);
}

body #root #process #steps-container #step-up #icon-frame #icon-container {
  width: 150px;
  height: 150px;
  margin: 10px;
}

body #root #process #steps-container #step-up #icon-frame #icon-container #icon {
  width: 100%;
  height: 100%;
  transform: skewX(14deg);
  -ms-transform: skewX(14deg);
  -webkit-transform: skewX(14deg);
}

body #root #process #steps-container #step-up img {
  top: 140px;
  left: 270px;
}

body #root #process #steps-container #step-up span {
  top: 140px;
  left: 160px;
  z-index: -1;
  font-size: 120px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  color: #E7E0DA;
}

@media screen and (max-width: 1299px) {
  body #root #process #steps-container #step-up span {
    left: 120px;
  }
}

body #root #process #steps-container #step-down {
  margin-top: 6em;
  padding-left: 60px;
}

body #root #process #steps-container #step-down p {
  margin-top: 1rem;
  margin-left: -1em;
  font-weight: bold;
}

body #root #process #steps-container #step-down #icon-frame {
  width: 172px;
  height: 172px;
  transform: skewX(14deg);
  -ms-transform: skewX(14deg);
  -webkit-transform: skewX(14deg);
  border: 1px solid #E7E0DA;
}

body #root #process #steps-container #step-down #icon-frame #icon-container {
  width: 150px;
  height: 150px;
  margin: 10px;
}

body #root #process #steps-container #step-down #icon-frame #icon-container #icon {
  width: 100%;
  height: 100%;
  transform: skewX(-14deg);
  -ms-transform: skewX(-14deg);
  -webkit-transform: skewX(-14deg);
}

body #root #process #steps-container #step-down img {
  top: 35px;
  left: 270px;
}

body #root #process #steps-container #step-down span {
  top: -105px;
  left: 150px;
  z-index: -1;
  font-size: 120px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  color: #E7E0DA;
}

@media screen and (max-width: 1299px) {
  body #root #process #steps-container #step-down span {
    left: 110px;
  }
}

@media screen and (max-width: 1299px) {
  body #root #process #steps-container #step-up,
  body #root #process #steps-container #step-down {
    padding-left: 40px;
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}

@media screen and (max-width: 991px) {
  body #root #process #steps-container #step-up,
  body #root #process #steps-container #step-down {
    padding-left: 0px;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
}

@media screen and (max-width: 767px) {
  body #root #process #steps-container #step-up,
  body #root #process #steps-container #step-down {
    -webkit-transform: scale(0.9, 0.9) translateX(15%);
            transform: scale(0.9, 0.9) translateX(15%);
  }
}

@media screen and (max-width: 575px) {
  body #root #process #steps-container #step-up,
  body #root #process #steps-container #step-down {
    -webkit-transform: scale(0.9, 0.9) translateX(30%);
            transform: scale(0.9, 0.9) translateX(30%);
  }
}

@media screen and (max-width: 399px) {
  body #root #process #steps-container #step-up,
  body #root #process #steps-container #step-down {
    -webkit-transform: scale(0.9, 0.9) translateX(20%);
            transform: scale(0.9, 0.9) translateX(20%);
  }
}

@media screen and (max-width: 1599px) {
  body #root #process #steps-container #arrow {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
}

body #root #testimonials {
  min-height: 650px;
  background: linear-gradient(180deg, #FFFFFF 0px, #E7E0DA 400px, #FFFFFF 400px);
}

body #root #testimonials h4 {
  text-transform: uppercase;
  color: #73573E;
}

@media screen and (max-width: 575px) {
  body #root #testimonials h4 {
    font-size: 20px;
  }
}

body #root #testimonials h1 {
  font-size: 50px;
  font-weight: bold;
}

@media screen and (max-width: 575px) {
  body #root #testimonials h1 {
    font-size: 40px;
  }
}

body #root #testimonials #carouselExampleInterval {
  padding-bottom: 2em;
}

body #root #testimonials #carouselExampleInterval .carousel-indicators {
  z-index: 3;
}

body #root #testimonials #carouselExampleInterval .carousel-inner {
  padding-bottom: 1em;
}

body #root #testimonials #carouselExampleInterval .carousel-inner .carousel-item .carousel-item-inner #testimonial-container {
  position: relative;
  z-index: 2;
  max-width: 350px;
  min-width: 300px;
  height: 500px;
  -webkit-box-shadow: 0px 0px 10px #E7E0DA;
          box-shadow: 0px 0px 10px #E7E0DA;
}

body #root #testimonials #carouselExampleInterval .carousel-inner .carousel-item .carousel-item-inner #testimonial-container #testimonial-data img {
  width: 100px;
  height: 100px;
  padding: 0px;
  border-radius: 50%;
}

body #root #testimonials #carouselExampleInterval .carousel-inner .carousel-item .carousel-item-inner #testimonial-container #testimonial-data iframe {
  width: 16.5px;
  height: 16px;
}

body #root #testimonials #carouselExampleInterval .carousel-inner .carousel-item .carousel-item-inner #testimonial-container p {
  font-size: 15px;
}

body #root #testimonials #carouselExampleInterval .carousel-inner .carousel-item .carousel-item-inner #testimonial-container .quote {
  position: absolute;
  right: 2.5em;
  bottom: 40px;
}

body #root #contact {
  width: 100%;
}

body #root #contact #get-quote {
  margin: 0em;
  padding: 3em 0em;
}

body #root #contact #get-quote #get-quote-text h2 {
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  body #root #contact #get-quote #get-quote-text h4 {
    font-size: 20px;
  }
  body #root #contact #get-quote #get-quote-text h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 575px) {
  body #root #contact #get-quote #get-quote-text {
    margin-bottom: 1em;
    text-align: center;
  }
}

body #root #contact #get-quote #get-quote-button a {
  border: 0em;
  padding: 15px 40px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

body #root #contact #get-quote #get-quote-button a:hover {
  border: 0px;
  -webkit-box-shadow: inset 200px 0px #E7E0DA;
          box-shadow: inset 200px 0px #E7E0DA;
  color: #000000;
}

body #root #contact #contact-us {
  margin: 5em 0em 0em;
}

body #root #contact #contact-us h4 {
  text-transform: uppercase;
  color: #E7E0DA;
}

body #root #contact #contact-us h1 {
  margin-bottom: 1em;
  font-weight: bold;
}

@media screen and (max-width: 1199px) {
  body #root #contact #contact-us #get-in-touch h4 {
    font-size: 20px;
  }
  body #root #contact #contact-us #get-in-touch h1 {
    font-size: 30px;
  }
  body #root #contact #contact-us #get-in-touch p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1199px) and (max-width: 991px) {
  body #root #contact #contact-us #get-in-touch p {
    font-size: 18px;
  }
}

body #root #contact #contact-us #get-in-touch img {
  border: 2px solid #73573E;
  padding: 25px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

body #root #contact #contact-us #get-in-touch img:hover {
  -webkit-box-shadow: inset 5em 0em #E7E0DA;
          box-shadow: inset 5em 0em #E7E0DA;
}

body #root #contact #contact-us #get-in-touch #contact-telephone {
  margin-top: 1em;
  margin-bottom: 1em;
}

body #root #contact #contact-us #get-in-touch #contact-telephone #text,
body #root #contact #contact-us #get-in-touch #contact-email #text {
  padding: 10px 0px 0px;
}

body #root #contact #contact-us #get-in-touch #contact-telephone #text p,
body #root #contact #contact-us #get-in-touch #contact-email #text p {
  margin: 0px;
}

@media screen and (max-width: 1199px) {
  body #root #contact #contact-us #get-in-touch #contact-telephone #text,
  body #root #contact #contact-us #get-in-touch #contact-email #text {
    margin-left: 35px;
  }
}

@media screen and (max-width: 991px) {
  body #root #contact #contact-us #get-in-touch #contact-telephone #text,
  body #root #contact #contact-us #get-in-touch #contact-email #text {
    margin-left: 50px;
  }
}

@media screen and (max-width: 767px) {
  body #root #contact #contact-us #get-in-touch #contact-telephone #text,
  body #root #contact #contact-us #get-in-touch #contact-email #text {
    margin-left: 20px;
  }
}

@media screen and (max-width: 599px) {
  body #root #contact #contact-us #get-in-touch #contact-telephone #text,
  body #root #contact #contact-us #get-in-touch #contact-email #text {
    margin-left: 50px;
  }
}

body #root #contact #contact-us #contact-form {
  z-index: 2;
}

body #root #contact #contact-us #contact-form h2 {
  font-weight: bold;
  color: #FFFFFF;
}

body #root #contact #contact-us #contact-form textarea {
  height: 160px !important;
  resize: none;
  padding: 6px 10px;
  font-size: 1rem;
}

body #root #contact #contact-us #contact-form button {
  border: 0px;
  padding: 15px 40px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

body #root #contact #contact-us #contact-form button:hover {
  border: 0px;
  -webkit-box-shadow: inset 200px 0px #E7E0DA;
          box-shadow: inset 200px 0px #E7E0DA;
}

body #root #map {
  margin-top: -6em;
}

@media screen and (max-width: 767px) {
  body #root #map {
    margin-top: 2em;
  }
}

body #root #map #map-container-google-1 iframe {
  width: 100%;
  height: 50vh;
  margin-bottom: -8px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

body #root .underline {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  -webkit-text-decoration-color: #73573E;
          text-decoration-color: #73573E;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

body #root .bg-white {
  background-color: #FFFFFF;
}

body #root .bg-brown-light {
  background-color: #E7E0DA;
}

body #root .bg-brown-dark {
  background-color: #73573E;
}
/*# sourceMappingURL=index.css.map */