html,
body {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: content-box;

    #root {
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.3rem;

        .navbar {
            width: 100%;
            margin-right: 0;
            font-family: 'Quicksand', sans-serif;
            font-size: 15px;

            .container-fluid {
                .navbar-brand {
                    cursor: auto;

                    img {
                        margin-left: 3em;
                        cursor: pointer;

                        @media screen and (max-width: 991px) {
                            width: 200px;
                            margin-left: 0px;
                        }
                    }
                }

                .navbar-toggler {
                    margin-top: 10px;
                    border: 0px;
                }

                .navbar-toggler:focus {
                    box-shadow: none;
                }

                .navbar-collapse {
                    border-bottom: 1px solid #E7E0DA;
                    padding: 0 1em 0 10em;

                    a {
                        cursor: pointer;
                        color: #000000;
                    }

                    a:hover {
                        color: #E7E0DA;
                    }
                }

                @media screen and (max-width: 991px) {
                    .navbar-collapse {
                        border-bottom: 0px;
                        padding: 0px;

                        .navbar-nav {
                            .nav-item {
                                a {
                                    display: inline-block;
                                    width: fit-content;

                                    padding-bottom: 2px;

                                    background-size: 0% 2px;
                                    background-position: 0% 100%;
                                    background-repeat: no-repeat;
                                    background-image: linear-gradient(#E7E0DA 0 0);

                                    transition:
                                        background-size 0.5s,
                                        background-position 0s 0.5s;
                                }

                                a:hover {
                                    background-size: 100% 2px;
                                    background-position: 100% 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        #header {
            z-index: 2;
            margin: 0;

            #header-hero {
                max-width: 100%;
                height: 100vh;
                overflow-x: hidden;
                z-index: 1;
                opacity: 95%;

                margin: 0;

                background: url(./images/zz_hands_hero.png);
                background-size: cover;
                background-position: center center;
            }

            #social-media {
                margin-top: 10em;
                padding-left: 6em;
                animation: loading-social-media 2s;

                @keyframes loading-social-media {
                    from {
                        left: -150px;
                    }

                    to {
                        left: 0;
                    }
                }

                a {
                    padding: 0.5em;
                    color: #FFFFFF;
                    text-decoration: none;

                    svg {
                        transition: width 1s, height 1s;
                    }
                }

                a:hover {
                    svg {
                        width: 40px;
                        height: 40px;
                    }
                }

                hr {
                    width: 1px;
                    height: 80px;
                    opacity: 1;
                    border: 1px solid #FFFFFF;
                }

                p {
                    margin-top: 0.6em;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    transform: rotate(90deg);
                }

                @media screen and (max-width: 991px) {
                    height: 100px;
                    margin-top: 8em;

                    hr {
                        width: 80px;
                        height: 1px;
                        margin: 0.5rem 1rem 0;
                    }

                    p {
                        margin: 0;
                        padding-top: 0.5rem;
                        transform: none;
                    }
                }

                @media screen and (max-width: 575px) {
                    display: none;

                }
            }

            .spacer {
                @media screen and (max-width: 991px) {
                    display: none;
                }
            }

            #text-container {
                position: relative;
                width: 30em;

                opacity: 100%;

                margin-top: 10em;
                padding: 0em;

                font-family: 'Noto Sans', sans-serif;
                color: #FFFFFF;

                animation: loading-text-container 2s;

                @keyframes loading-text-container {
                    from {
                        left: -150px;
                        opacity: 0;
                    }

                    to {
                        left: 0;
                        opacity: 1;
                    }
                }

                h1 {
                    display: inline-block;
                    z-index: 0;
                    font-size: 50px;
                }

                h1:after {
                    display: block;
                    z-index: -1;

                    margin-top: -8px;
                    border-top: solid 5px #73573E;

                    transition: transform 700ms ease-in-out;
                    transform: scaleX(0);

                    content: '';
                }

                h1:hover:after {
                    transform: scaleX(1);
                    transform-origin: 0% 50%;
                }

                p {
                    font-size: 20px;
                }

                a {
                    border: 0;
                    padding: 15px 40px;

                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;

                    transition: 1s;
                    transition-timing-function: ease;
                }

                a:hover {
                    border: 0px;
                    box-shadow: inset 170px 0px #73573E;
                }

                @media screen and (max-width: 992px) {
                    margin-top: -14em;
                    padding-left: 6em;
                }

                @media screen and (max-width: 575px) {
                    margin-top: 8em;
                    padding: 0 2em;

                    h1 {
                        font-size: 40px;
                    }
                }
            }
        }

        #about {
            margin: 8em 0em 0em;
            background: linear-gradient(180deg, #FFFFFF 30%, #E7E0DA 100%);

            @media screen and (max-width: 1399px) {
                margin-top: 6em;
            }

            @media screen and (max-width: 575px) {
                margin-top: 2em;
            }

            #about-gallery {
                position: relative;
                max-height: 780px;
                height: 85vh;

                @media screen and (max-width: 575px) {
                    height: auto;
                    margin-top: 4em;
                    padding-top: 120%;
                }

                .img01 {
                    position: absolute;
                    top: 0%;
                    right: 8%;

                    max-width: 520px;
                    max-height: 580px;
                    aspect-ratio: 520 / 580;

                    clip-path: polygon(0% 7%, 100% 0%, 100% 100%, 0% 91%);

                    animation: loading-img01 2s;

                    @media screen and (max-width: 991px) {
                        right: 0%;
                    }

                    @keyframes loading-img01 {
                        from {
                            right: -15em;
                            opacity: 0;
                        }

                        to {
                            right: 3em;
                            opacity: 1;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        object-fit: cover;
                    }
                }

                .img02 {
                    position: absolute;
                    top: 13%;
                    right: 20%;

                    max-width: 480px;
                    max-height: 530px;
                    aspect-ratio: 480 / 530;

                    clip-path: polygon(0% 0%, 100% 9%, 100% 90%, 0% 100%);

                    animation: loading-img02 2s;

                    @media screen and (max-width: 991px) {
                        left: 0;
                    }

                    @keyframes loading-img02 {
                        from {
                            right: 25em;
                            opacity: 0;
                        }

                        to {
                            right: 10em;
                            opacity: 1;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                        object-fit: cover;
                    }
                }

                .img03 {
                    position: absolute;
                    top: 58%;
                    right: 50%;

                    max-width: 200px;
                    max-height: 220px;
                    aspect-ratio: 200 / 220;

                    margin-left: 10%;

                    clip-path: polygon(0% 0%, 100% 14%, 100% 86%, 0% 100%);

                    animation: loading-img03 2s;

                    @keyframes loading-img03 {
                        from {
                            top: 35em;
                            opacity: 0;
                        }

                        to {
                            top: 22em;
                            opacity: 1;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        z-index: 3;
                        object-fit: cover;
                    }
                }

                .img04 {
                    position: absolute;
                    top: 63%;
                    right: 34%;

                    max-width: 200px;
                    max-height: 220px;
                    aspect-ratio: 200 / 220;

                    margin-left: 26%;

                    clip-path: polygon(0% 0%, 100% 14%, 100% 86%, 0% 100%);

                    img {
                        width: 100%;
                        height: 100%;
                        z-index: 3;
                        object-fit: cover;
                    }

                    animation: loading-img04 2.5s;

                    @keyframes loading-img04 {
                        from {
                            top: 37em;
                            opacity: 0;
                        }

                        to {
                            top: 24em;
                            opacity: 1;
                        }
                    }
                }

                .img05 {
                    position: absolute;
                    top: 68%;
                    right: 18%;

                    max-width: 200px;
                    max-height: 220px;
                    aspect-ratio: 200 / 220;

                    margin-left: 42%;

                    clip-path: polygon(0% 0%, 100% 14%, 100% 86%, 0% 100%);

                    animation: loading-img05 3s;

                    @keyframes loading-img05 {
                        from {
                            opacity: 0;
                            top: 39em;
                        }

                        to {
                            top: 26em;
                            opacity: 1;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        z-index: 3;
                        object-fit: cover;
                    }
                }
            }

            #about-text {
                position: relative;
                animation: loading-about-text 2s;

                @media screen and (max-width: 1799px) {
                    p {
                        font-size: 18px;
                    }
                }

                @media screen and (max-width: 575px) {
                    margin-top: 4em;
                }

                @keyframes loading-about-text {
                    from {
                        left: 20em;
                        opacity: 0;
                    }

                    to {
                        left: 0;
                        opacity: 1;
                    }
                }

                h1 {
                    font-size: 50px;
                    font-weight: bold;

                    @media screen and (max-width: 1799px) {
                        font-size: 40px;
                    }

                    @media screen and (max-width: 575px) {
                        font-size: 30px;
                    }
                }

                h4 {
                    text-transform: uppercase;
                    color: #E7E0DA;
                }

                #textbox {
                    border-left: solid 5px #73573E;
                    box-shadow: 8px 8px 5px #969696;
                }

                a {
                    border: 0px;
                    padding: 15px 40px;

                    text-transform: uppercase;
                    color: #FFFFFF;
                    font-size: 13px;
                    font-weight: bold;

                    transition: 1s;
                    transition-timing-function: ease;
                }

                a:hover {
                    border: 0px;
                    box-shadow: inset 170px 0px #E7E0DA;
                    color: #000000;
                }
            }
        }

        #services {
            margin: 0em;
            padding-top: 8em;
            background: linear-gradient(0deg, #FFFFFF 45%, #E7E0DA 45%);

            @media screen and (max-width: 991px) {
                padding-top: 5em;
                background: linear-gradient(0deg, #FFFFFF 41.5%, #E7E0DA 41.5%);
            }

            @media screen and (max-width: 575px) {
                background: linear-gradient(0deg, #FFFFFF 45.5%, #E7E0DA 45.5%);
            }

            #services-header {
                margin: 0em;

                h1 {
                    font-size: 50px;
                    font-weight: bold;

                    @media screen and (max-width: 1399px) {
                        font-size: 38px;
                    }

                    @media screen and (max-width: 575px) {
                        font-size: 30px;
                    }
                }

                h4 {
                    text-transform: uppercase;
                    color: #73573E;

                    @media screen and (max-width: 1399px) {
                        font-size: 20px;
                    }
                }

                p {
                    color: #73573E;

                    span {
                        font-weight: 700;
                    }

                    @media screen and (max-width: 1399px) {
                        font-size: 18px;
                    }
                }
            }

            #cards {
                max-width: 1200px;

                #card {
                    position: relative;
                    height: 19em;
                    box-shadow: 0px 0px 10px #E7E0DA;
                    transition: transform .8s;

                    h3 {
                        font-weight: bold;
                    }

                    p {
                        font-size: 17px;
                    }

                    a {
                        position: absolute;
                        right: 2em;
                        bottom: -1em;

                        width: 3em;

                        border: solid 1px #E7E0DA;

                        box-shadow: 0px 0px 10px #E7E0DA;

                        text-decoration: none;
                        font-weight: bold;
                        color: #000000;
                    }

                    a:hover {
                        background-color: #73573E;
                        color: #FFFFFF;
                    }

                    @media screen and (max-width: 1499px) {
                        max-height: 335px;

                        h3 {
                            font-size: 24px;
                        }

                        p {
                            font-size: 15px;
                        }
                    }

                    @media screen and (max-width: 767px) {
                        max-height: 340px;
                    }
                }

                #card:hover {
                    transform: scale(1.1);
                }
            }
        }

        #why {
            max-height: 480px;
            overflow: hidden;
            margin: 8em 0em 0em;
            color: #FFFFFF;

            @media screen and (max-width: 1199px) {
                margin-top: 5em;
            }

            @media screen and (max-width: 767px) {
                max-height: fit-content;
            }

            #why-text {
                padding: 4em 0em;

                h4 {
                    text-transform: uppercase;
                }

                h1 {
                    font-weight: bold;
                }

                img {
                    padding-right: 5px;
                    padding-bottom: 5px;
                }

                @media screen and (max-width: 991px) {

                    p,
                    li {
                        font-size: 18px;
                    }
                }

                @media screen and (max-width: 767px) {
                    padding: 4em 0em 2em;
                }
            }

            #why-image {
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        #process {
            margin: 6em 14em;
            padding-bottom: 4em;

            @media screen and (max-width: 1599px) {
                margin: 5em 8em;
            }

            @media screen and (max-width: 1399px) {
                margin: 5em 3.5em;
            }

            @media screen and (max-width: 1199px) {
                margin: 4em 1em;
                padding-bottom: 2em;
            }

            h4 {
                text-transform: uppercase;
                color: #E7E0DA;
            }

            h1 {
                font-weight: bold;
            }

            #steps-container {
                margin: 0em;

                #step-up {
                    margin-bottom: 4em;
                    padding-left: 60px;

                    p {
                        margin-left: -1em;
                        font-weight: bold;
                    }

                    #icon-frame {
                        width: 172px;
                        height: 172px;

                        border: 1px solid #E7E0DA;

                        transform: skewX(-14deg);
                        -ms-transform: skewX(-14deg);
                        -webkit-transform: skewX(-14deg);

                        #icon-container {
                            width: 150px;
                            height: 150px;

                            margin: 10px;

                            #icon {
                                width: 100%;
                                height: 100%;

                                transform: skewX(14deg);
                                -ms-transform: skewX(14deg);
                                -webkit-transform: skewX(14deg);
                            }
                        }
                    }

                    img {
                        top: 140px;
                        left: 270px;
                    }

                    span {
                        top: 140px;
                        left: 160px;
                        z-index: -1;

                        font-size: 120px;
                        font-weight: bold;
                        font-family: 'Quicksand', sans-serif;
                        color: #E7E0DA;

                        @media screen and (max-width: 1299px) {
                            left: 120px;
                        }
                    }
                }

                #step-down {
                    margin-top: 6em;
                    padding-left: 60px;

                    p {
                        margin-top: 1rem;
                        margin-left: -1em;
                        font-weight: bold;
                    }

                    #icon-frame {
                        width: 172px;
                        height: 172px;

                        transform: skewX(14deg);
                        -ms-transform: skewX(14deg);
                        -webkit-transform: skewX(14deg);
                        border: 1px solid #E7E0DA;

                        #icon-container {
                            width: 150px;
                            height: 150px;

                            margin: 10px;

                            #icon {
                                width: 100%;
                                height: 100%;

                                transform: skewX(-14deg);
                                -ms-transform: skewX(-14deg);
                                -webkit-transform: skewX(-14deg);
                            }
                        }
                    }

                    img {
                        top: 35px;
                        left: 270px;
                    }

                    span {
                        top: -105px;
                        left: 150px;
                        z-index: -1;

                        font-size: 120px;
                        font-weight: bold;
                        font-family: 'Quicksand', sans-serif;
                        color: #E7E0DA;

                        @media screen and (max-width: 1299px) {
                            left: 110px;
                        }
                    }
                }

                #step-up,
                #step-down {
                    @media screen and (max-width: 1299px) {
                        padding-left: 40px;
                        transform: scale(0.9, 0.9);
                    }

                    @media screen and (max-width: 991px) {
                        padding-left: 0px;
                        transform: scale(0.7, 0.7);
                    }

                    @media screen and (max-width: 767px) {
                        transform: scale(0.9, 0.9) translateX(15%);
                    }

                    @media screen and (max-width: 575px) {
                        transform: scale(0.9, 0.9) translateX(30%);
                    }

                    @media screen and (max-width: 399px) {
                        transform: scale(0.9, 0.9) translateX(20%);
                    }
                }

                @media screen and (max-width: 1599px) {
                    #arrow {
                        transform: translateX(-40%);
                    }
                }
            }
        }

        #testimonials {
            min-height: 650px;
            background: linear-gradient(180deg, #FFFFFF 0px, #E7E0DA 400px, #FFFFFF 400px);

            h4 {
                text-transform: uppercase;
                color: #73573E;

                @media screen and (max-width: 575px) {
                    font-size: 20px;
                }
            }

            h1 {
                font-size: 50px;
                font-weight: bold;

                @media screen and (max-width: 575px) {
                    font-size: 40px;
                }
            }

            #carouselExampleInterval {
                padding-bottom: 2em;

                .carousel-indicators {
                    z-index: 3;
                }

                .carousel-inner {
                    padding-bottom: 1em;

                    .carousel-item {
                        .carousel-item-inner {
                            #testimonial-container {
                                position: relative;
                                z-index: 2;

                                max-width: 350px;
                                min-width: 300px;
                                height: 500px;

                                box-shadow: 0px 0px 10px #E7E0DA;

                                #testimonial-data {
                                    img {
                                        width: 100px;
                                        height: 100px;
                                        padding: 0px;
                                        border-radius: 50%;
                                    }

                                    iframe {
                                        width: 16.5px;
                                        height: 16px;
                                    }
                                }

                                p {
                                    font-size: 15px;
                                }

                                .quote {
                                    position: absolute;
                                    right: 2.5em;
                                    bottom: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }

        #contact {
            width: 100%;

            #get-quote {
                margin: 0em;
                padding: 3em 0em;

                #get-quote-text {
                    h2 {
                        font-weight: bold;
                    }

                    @media screen and (max-width: 991px) {
                        h4 {
                            font-size: 20px;
                        }

                        h2 {
                            font-size: 25px;
                        }
                    }

                    @media screen and (max-width: 575px) {
                        margin-bottom: 1em;
                        text-align: center;
                    }
                }

                #get-quote-button {
                    a {
                        border: 0em;
                        padding: 15px 40px;

                        font-size: 13px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: #FFFFFF;

                        transition: 1s;
                        transition-timing-function: ease;
                    }

                    a:hover {
                        border: 0px;
                        box-shadow: inset 200px 0px #E7E0DA;
                        color: #000000;
                    }
                }
            }

            #contact-us {
                margin: 5em 0em 0em;

                h4 {
                    text-transform: uppercase;
                    color: #E7E0DA;
                }

                h1 {
                    margin-bottom: 1em;
                    font-weight: bold;
                }

                #get-in-touch {
                    @media screen and (max-width: 1199px) {
                        h4 {
                            font-size: 20px;
                        }

                        h1 {
                            font-size: 30px;
                        }

                        p {
                            font-size: 20px;

                            @media screen and (max-width: 991px) {
                                font-size: 18px;
                            }
                        }
                    }

                    img {
                        border: 2px solid #73573E;
                        padding: 25px;
                        transition: 1s;
                        transition-timing-function: ease;
                    }

                    img:hover {
                        box-shadow: inset 5em 0em #E7E0DA;
                    }

                    #contact-telephone {
                        margin-top: 1em;
                        margin-bottom: 1em;
                    }

                    #contact-telephone,
                    #contact-email {
                        #text {
                            padding: 10px 0px 0px;

                            p {
                                margin: 0px;
                            }

                            @media screen and (max-width: 1199px) {
                                margin-left: 35px;
                            }

                            @media screen and (max-width: 991px) {
                                margin-left: 50px;
                            }

                            @media screen and (max-width: 767px) {
                                margin-left: 20px;
                            }

                            @media screen and (max-width: 599px) {
                                margin-left: 50px;
                            }
                        }
                    }
                }

                #contact-form {
                    z-index: 2;

                    h2 {
                        font-weight: bold;
                        color: #FFFFFF;
                    }

                    textarea {
                        height: 160px !important;
                        resize: none;
                        padding: 6px 10px;
                        font-size: 1rem;
                    }

                    button {
                        border: 0px;
                        padding: 15px 40px;
                        
                        font-size: 13px;
                        font-weight: bold;
                        text-transform: uppercase;
                        
                        transition: 1s;
                        transition-timing-function: ease;
                    }

                    button:hover {
                        border: 0px;
                        box-shadow: inset 200px 0px #E7E0DA;
                    }
                }
            }
        }

        #map {
            margin-top: -6em;

            @media screen and (max-width:767px) {
                margin-top: 2em;
            }

            #map-container-google-1 {
                iframe {
                    width: 100%;
                    height: 50vh;
                    margin-bottom: -8px;
                    filter: grayscale(100%);
                }
            }
        }

        #footer {
            color: #FFFFFF;

            #footer-text {
                margin: 0em;

                .animation-underline {
                    display: inline-block;
                    width: fit-content;
                    
                    margin: auto;
                    padding-bottom: 2px;
                    
                    background-image: linear-gradient(#E7E0DA 0px 0px);
                    background-position: 0% 100%;
                    background-size: 0% 2px;
                    background-repeat: no-repeat;
                    
                    transition:
                        background-size 0.3s,
                        background-position 0s 0.3s;
                }

                .animation-underline:hover {
                    background-position: 100% 100%;
                    background-size: 100% 2px;
                }

                @media screen and (max-width: 767px) {

                    h2,
                    h4 {
                        font-size: 22px;
                    }

                    a {
                        font-size: 18px;
                    }
                }

                @media screen and (max-width: 575px) {

                    h2,
                    h4 {
                        font-size: 20px;
                    }

                    a {
                        font-size: 16px;
                    }

                    #explore {
                        margin-top: 1em;
                        border-top: 1px solid white;
                        padding-top: 1em;
                    }
                }
            }
        }

        // GLOBAL //
        .underline {
            text-decoration: underline;
            text-decoration-thickness: 5px;
            text-decoration-color: #73573E;
            text-decoration-style: solid;
        }

        .bg-white {
            background-color: #FFFFFF;
        }

        .bg-brown-light {
            background-color: #E7E0DA;
        }

        .bg-brown-dark {
            background-color: #73573E;
        }

    }
}